@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Proza+Libre:wght@400;500;600;700;800&display=swap');

$font-family: 'proza-Libre', sans-serif;

$main-color : #FFD163;
$main-main-color: rgba(0, 0, 0, .04);
$alt-color : #884400;
$like-black-color: #404040;

